.App {
    text-align: center;
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .bubbles {
    background: radial-gradient(ellipse at 50% 50%, rgba(107,96,255,1) 0%,  48.93%, rgba(133,124,255,0) 56.61%) 72vw -30vh / 40vw 40vw no-repeat no-repeat, /* Bubble (Purple) */
    radial-gradient(ellipse at 50% 50%, rgba(107,96,255,0.48) 32.88%, rgba(133,124,255,0) 56.61%) 49vw -26vh / 95vw 80vw no-repeat no-repeat, /* Bubble (Purple Glow) */
    radial-gradient(ellipse at 50% 50%, rgba(170,97,255) 0%,  43.84%, rgba(133,124,255,0) 56.61%) -109px 483px / 377px 371px no-repeat no-repeat, /* Bubble (Purple) */
    radial-gradient(ellipse at 50% 50%, rgba(170,97,255,0.39) 29.11%, rgba(133,124,255,0) 70.89%) -274px 281px / 740px 737px no-repeat no-repeat, /* Bubble (Purple Glow) */
    radial-gradient(ellipse at 50% 50%, rgba(170,97,255) 0%,  36.99%, rgba(133,124,255,0) 56.61%) 397px 427px / 377px 371px no-repeat no-repeat, /* Bubble (Purple) */
    radial-gradient(ellipse at 50% 50%, rgba(170,97,255,0.53) 28.77%, rgba(133,124,255,0) 73.29%) 226px 261px / 669px 679px no-repeat no-repeat, /* Bubble (Purple Glow) */
    radial-gradient(ellipse at 50% 50%, rgba(13,234,227,0.37) 37.46%, rgba(133,124,255,0) 66.14%) 456px 373px / 185px 221px no-repeat no-repeat, /* Bubble (Blue) */
    radial-gradient(ellipse at 50% 50%, rgba(13,234,227,0.37) 27.4%, rgba(133,124,255,0) 66.14%) 147px 100px / 213px 208px no-repeat no-repeat, /* Bubble (Blue) */
    radial-gradient(ellipse at 50% 50%, rgba(13,234,227,0.25) 34.59%, rgba(133,124,255,0) 70.55%) -7px -54px / 514px 513px no-repeat no-repeat, /* Bubble (Blue Glow) */
    radial-gradient(ellipse at 50% 50%, rgba(107,96,255,1) 0%,  43.15%, rgba(133,124,255,0) 56.61%) 130px -70px / 289px 290px no-repeat no-repeat, /* Bubble (Purple) */
    radial-gradient(ellipse at 50% 50%, rgba(107,96,255,0.5) 33.9%, rgba(133,124,255,0) 67.47%) 3vw -24vh / 510px 486px no-repeat no-repeat, /* Bubble (Purple Glow) */
    radial-gradient(ellipse at 50% 50%, rgba(107,96,255,1) 0%,  41.78%, rgba(133,124,255,0) 58.22%) 24vw 314px / 289px 290px no-repeat no-repeat, /* Bubble (Purple) */
    radial-gradient(ellipse at 50% 50%, rgba(107,96,255,0.36) 33.56%, rgba(133,124,255,0) 71.58%) 5vw 25vh / 80vw 80vh no-repeat no-repeat, /* Bubble (Purple Glow) */
    linear-gradient(115deg, hsl(var(--hue), 95%, 84%) 0%,  60%, hsla(var(--hue), 80%, 50%, 0.3) 100%) 0px 0px / 100% 100% no-repeat no-repeat; /* Background */
  }
  
  .logo {
    height: 30vh;
    margin-left: 5vw;
  }
  
  h1 {
    padding-left: 2vw;
    text-align: left;
    font-size: calc(10px + 15vmin);
    margin-bottom: 0;
    line-height: 100%;
  }
  
  h2 {
    margin-bottom: 10vh;
    margin-top: 0;
    font-weight: 600;
    text-align: left;
    padding-left: 2vw;
  }
  
  .button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3vmin;
    background: var(--action-gradient);
    padding: 1vmin 2vmin;
    border-radius: 4vmin;
  
    font-weight: 600;
    transition: all 2s;

    text-decoration: none;
    color: white;
  }
  